html {
    font-family: 'Roboto', sans-serif;
}

div.container div.col-5 {
    text-align: right !important;
}

.container div {
    margin-top: 20px;
}

#title {
    text-align: center;
}

.col-sm-7 input {
    width: 100%;
}

@media only screen and (min-width: 576px) {
    .input-group .row,  .input-group div {
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 575px) {
    .input-group .row,  .input-group div {
        margin-top: 2px;
        margin-bottom: 2px;
    }
}

#submit {
    text-align: center;
}

#submit button {
    min-width: 160px;
}
